body {
    font-family: 'Montserrat', sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.footer {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--tg-theme-bg-color);
    margin: 0;
}

.footer-btn {
    border: 0;
    border-radius: 0;
    height: 35px;
    width: 33.3333%;
    font-size: 20px;
    font-weight: 508;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    box-sizing: border-box;
}

.footer-btn:hover {
    background: var(--tg-theme-secondary-bg-color);
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 508;
    cursor: pointer;
    transition: all 500ms ease;
    color: #f5f5f5;
    background: #5288C1;
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

.header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    height: 33px; /* Уменьшение высоты в 3 раза */
  }
  

h4 {
    margin: 0;
}
  
.profile {
    text-align: center;
    margin-top: 20px;
}
  
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    margin-top: 10px;
}
